/IAdministrateur.class
/IAnnee.class
/IDepartement.class
/IEnseignant.class
/IEtudiant.class
/IFiliere.class
/IGroupe.class
/IMatiere.class
/INiveau.class
/ISalle.class
/ISemestre.class
/ISuiviCours.class
/IUtilisateur.class
