/Administrateur.class
/Annee.class
/Departement.class
/Enseignant.class
/Etudiant.class
/Filiere.class
/Groupe.class
/Matiere.class
/Niveau.class
/Salle.class
/Semestre.class
/SuiviCours.class
/Utilisateur.class
